.svg-icon.svg-baseline {
    background-color: #bbdefb;
    padding-top: 7px;
}

#about > div.container > div > div.col-12.col-lg-8 > div.row > div.col-md-5 > ul {
    border-right: solid #007bff 1px;
}